body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: blue;
    margin: 0;
    padding: 0;
}

header{
    background: color #4caf50;;
    color: azure;
    padding: 10%;
    text-align: center;
}
footer{
    background-color:#333;
    color:white;
    text-align:center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;

}